/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.wpbu-blue {
    color: #0073aa !important;
}
.wpbu-red {
    color: #ac2925 !important;
}

.wpbu-pull-left {
    float: left !important;
}

.wpbu-pull-right {
    float: right !important;
}

.wpbu-clear-fix {
    clear: both;
}

.wpbu-notice {
    line-height: 40px;
}

.wpbu-fieldset {
    padding: 0 20px !important;
}

.wpbu-input-block {
    width: 100%;
}

.wpbu-input-md {
    margin-bottom: 5px;
    height: 30px !important;
    border: 1px solid lightgray;
    width: 200px;
}

.wpbu-input-help {
    background: #e0e0e0 none repeat scroll 0 0;
    margin: 5px 0;
    padding: 10px;
    font-size: 12px !important;
    letter-spacing: 1px;
    line-height: 22px;
}

.wpbu-example {
    background: #f1f1f1 none repeat scroll 0 0;
    margin-left: 5px;
    padding: 12px 15px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
}

.wpbu-help-icon {
    margin-top: 15px;
}

.wpbu-help-icon a {
    text-decoration: none;
}